<%- include("./partials/top-admin") -%>

    <main class="container-fluid flex-fill">
        <div class="row p-3">
            <div class="col">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="py-4">
                            <i class="bi bi-pencil-square"></i>
                            Adicionar Imagem ao Carousel
                        </h4>
                    </div>
                    <div class="col">
                        <a class="btn btn-outline-dark float-right" href="/managecarousel?token=<%= token %>"
                            role="button">
                            Gerenciar Carousel
                        </a>
                        <a class="btn btn-outline-dark float-right mr-2" href="/authentication?token=<%= token %>"
                            role="button">
                            Voltar
                        </a>
                    </div>
                </div>

                <form>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="title">Título</label>
                                <input type="title" class="form-control" id="title" name="title" required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="title">Url</label>
                                <input type="text" class="form-control" id="url" name="url" value="#" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">

                            <div class="form-group">
                                <label for="select">Imagem</label>
                                <select class="form-control" id="image" name="image" required>
                                    <% images.map((image, index)=> { %>
                                        <option>
                                            <%= image %>
                                        </option>
                                        <% }) %>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="textarea">Descrição</label>
                                <textarea class="form-control" id="description" name="description" rows="5"
                                    required></textarea>
                            </div>

                            <button type="submit" formaction='addtocarousel?token=<%- token -%>' formmethod='POST'
                                class="btn btn-success float-right">Adicionar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <%- include("./partials/footer-admin") -%>