<%- include("./partials/top-home") -%>
    <%- include("./partials/nav") -%>

        <!-- Main -->
        <main class="container-fluid h-100">
            <div class="row align-items-center h-100 ">
                <div class="col">
                    <h4>
                        Bem-vindo(a), <%- data.name -%>!
                    </h4>
                </div>
                <div class="col">

                </div>
            </div>
        </main>

        <%- include("./partials/footer") -%>
            <%- include("./partials/bottom") -%>