<%- include("./partials/top-home") -%>
    <%- include("./partials/nav-home") -%>

        <main class="container-fluid flex-fill">
            <div class="row p-3">

                <div class="col-3">
                    <div class="card my-4">
                        <div class="card-body">
                            <h2 class="card-title">
                                <i class="bi bi-person-fill font-weight-normal"></i>
                                <%- data.name -%>
                            </h2>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's content.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <i class="bi bi-envelope font-weight-normal"></i>
                                <%- data.email -%>
                            </li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>

                <div class="col-6 py-4">
                    <% posts.map((post, index)=> { %>
                        <div class="card mb-3">
                            <div class="card-header">
                                <a class="text-decoration-none" href="/post?id=<%= post.id %>&token=<%= token %>">
                                    <%= post.date %>
                                </a>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= post.title %>
                                </h5>
                                <div class="card-text">
                                    <%= post.text %>
                                </div>
                            </div>
                            <div class="card-footer">
                                <a class="text-decoration-none float-right"
                                    href="/post?id=<%= post.id %>&token=<%= token %>">
                                    Leia Mais
                                </a>
                            </div>
                        </div>
                        <% }) %>
                </div>

                <div class="col-3 py-4">
                    <div class="card">
                        <div class="card-body">
                            This is some text within a card body.
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <%- include("./partials/footer-home") -%>