<%- include("./partials/top") -%>
    <%- include("./partials/nav") -%>

        <div class="row m-3 border align-items-center h-100 ">
            <div class="col">
                <h4>
                    Bem-vindo(a), <%- data.name -%>!
                </h4>
            </div>
            <div class="col">

            </div>
        </div>

        <%- include("./partials/footer") -%>
            <%- include("./partials/bottom") -%>