<%- include("./partials/top-admin") -%>

    <main class="container-fluid flex-fill">

        <div class="row p-3">

            <div class="col">
                <h4 class="py-4">
                    <i class="bi bi-file-earmark"></i>
                    Gerenciar Postagens
                </h4>

                <form>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead class="thead-light">
                                <tr class="text-center">
                                    <th scope="col">Id</th>
                                    <th scope="col">Título</th>
                                    <th scope="col">Data</th>
                                    <th scope="col">Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% posts.map((post, index)=> { %>
                                    <tr class="text-center">
                                        <td class="align-middle">
                                            <%= post.id %>
                                        </td>
                                        <td class="align-middle">
                                            <%= post.title %>
                                        </td>
                                        <td class="align-middle">
                                            <%= post.date %>
                                        </td>
                                        <td class="align-middle">
                                            <button type="submit" formaction="deletepost" formmethod='POST'
                                                class="btn btn-danger mx-1" id="<%= post.id %>" name="id"
                                                value="<%= post.id %>">
                                                <i class="bi bi-trash"></i>
                                            </button>

                                            <button type="submit" formaction="updatepost?token=<%= token %>"
                                                formmethod='POST' class="btn btn-primary mx-1" id="<%= post.id %>"
                                                name="id" value="<%= post.id %>">
                                                <i class="bi bi-pencil"></i>
                                            </button>

                                            <a href="/post?id=<%= post.id %>&token=<%= token %>" target="_blank" class="btn btn-success"
                                                role="button" aria-pressed="true">
                                                <i class="bi bi-eye"></i>
                                            </a>

                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>
                    </div>
                </form>

            </div>
        </div>
    </main>

    <%- include("./partials/footer-admin") -%>