<%- include("./partials/top-home") -%>
    <%- include("./partials/nav-home") -%>

   aqui  {{ numberOfLikes }}
        <main class="container flex-fill">
            <div class="row p-3">
                <article class="col-sm-8 py-4">
                    <div class="card">
                        <div class="card-header">
                            <a class="text-decoration-none" href="/post?id=<%= post.id %>&token=<%= token %>">
                                <%= post.date %>
                            </a>
                        </div>
                        <div class="card-body">
                            <h2 class="card-title">
                                <%= post.title %>
                            </h2>

                            <%if (post.video) { %>
                                <div class="my-4 iframe">
                                    <iframe class="responsive-iframe" src="<%= post.video %>" frameborder="0"
                                        allowfullscreen></iframe>
                                </div>
                                <% } %>

                                    <!-- conteúdo do post -->
                                    <%- include("./partials/post") -%>

                        </div>
                        <form v-on:submit.prevent="onSubmit">
                            <div class="card-footer bg-white">
                                <div class="row">
                                    <div class="col">

   <!--                                      <button type="submit"
                                            @click="like(<%= JSON.stringify(post.id) %>, <%= JSON.stringify(data.id) %>, <%= JSON.stringify(data.name) %>, <%= JSON.stringify(data.email) %>, <%= JSON.stringify(token) %>)"
                                            type="submit" class="btn btn-link no-focus"
                                            v-bind:class="{ 'text-dark': css.textDark, 'text-danger': css.textDanger }">
                                            <i class="bi icon"
                                                v-bind:class="{ 'bi-heart': css.biHeart, 'bi-heart-fill': css.biHeartFill }"></i>
                                        </button> -->

                                        <%if (postAlreadyLiked) { %>
                                            <button type="submit"
                                                @click="like(<%= JSON.stringify(post.id) %>, <%= JSON.stringify(data.id) %>, <%= JSON.stringify(data.name) %>, <%= JSON.stringify(data.email) %>, <%= JSON.stringify(token) %>)"
                                                type="submit" class="btn btn-link no-focus text-danger">
                                                <i class="bi bi-heart-fill icon"></i>
                                            </button>
                                            <% } %>

                                            <%if (!postAlreadyLiked) { %>
                                                <button type="submit"
                                                    @click="like(<%= JSON.stringify(post.id) %>, <%= JSON.stringify(data.id) %>, <%= JSON.stringify(data.name) %>, <%= JSON.stringify(data.email) %>, <%= JSON.stringify(token) %>)"
                                                    type="submit" class="btn btn-link no-focus text-dark">
                                                    <i class="bi bi-heart icon"></i>
                                                </button>
                                                <% } %>

                                                <span v-show="interpolation.ejs">
                                                    <%= numberOfLikes %>
                                                </span>
                                                
                                                <span v-show="interpolation.vuejs">
                                                    {{ numberOfLikes }}
                                                </span>

                                                <a href="" class="text-dark float-right" title="Favoritar">
                                                    <i class="bi bi-bookmark"></i>
                                                </a>

                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-white py-4">
                                <div class="form-row align-items-center">
                                    <div class="col-auto mr-2">
                                        <a href="" class="text-dark" title="Comentar">
                                            <i class="bi bi-chat"></i>
                                        </a>
                                    </div>
                                    <div class="col mr-2">
                                        <input type="text" class="form-control" id="comment" aria-describedby="comment"
                                            placeholder="Escrever comentário...">
                                    </div>
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-secondary">Postar</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer py-4">
                                <div class="row">
                                    <div class="col">
                                        <%if (previous !==undefined) { %>
                                            <a class="text-decoration-none"
                                                href="/post?id=<%= previous.id %>&token=<%= token %>">
                                                <i class="bi bi-chevron-left align-middle"></i>
                                                <%= previous.title %>
                                            </a>
                                            <% } %>
                                    </div>
                                    <div class="col text-right">
                                        <%if (next !==undefined) { %>
                                            <a class="text-decoration-none"
                                                href="/post?id=<%= next.id %>&token=<%= token %>">
                                                <%= next.title %>
                                                    <i class="bi bi-chevron-right align-middle"></i>
                                            </a>
                                            <% } %>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </article>

                <aside class="col-sm-4 py-4">

                    <h4>Últimas Postagens</h4>

                </aside>
            </div>
        </main>

        <%- include("./partials/footer-home") -%>