<%- include("./partials/top-home") -%>
    <%- include("./partials/nav-home") -%>

        <main class="container flex-fill">
            <div class="row p-3">
                <article class="col-sm-8 py-4">
                    <div class="card">
                        <div class="card-header">
                            <a class="text-decoration-none" href="/post?id=<%= post.id %>&token=<%= token %>">
                                <%= post.date %>
                            </a>
                        </div>
                        <div class="card-body">
                            <h2 class="card-title">
                                <%= post.title %>
                            </h2>

                            <%if (post.video) { %>
                                <div class="my-4 iframe">
                                    <iframe class="responsive-iframe" src="<%= post.video %>" frameborder="0"
                                        allowfullscreen></iframe>
                                </div>
                            <% } %>

                            <div class="card-text post"><%- post.text %></div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col">
                                    <%if (previous !==undefined) { %>
                                        <a class="text-decoration-none"
                                            href="/post?id=<%= previous.id %>&token=<%= token %>">
                                            <i class="bi bi-chevron-left"></i>
                                            <%= previous.title %>
                                        </a>
                                        <% } %>
                                </div>
                                <div class="col">
                                    <%if (next !==undefined) { %>
                                        <a class="text-decoration-none float-right"
                                            href="/post?id=<%= next.id %>&token=<%= token %>">
                                            <%= next.title %>
                                                <i class="bi bi-chevron-right"></i>
                                        </a>
                                        <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

                <aside class="col-sm-4 py-4">

                    <h4>Últimas Postagens</h4>

                </aside>
            </div>
        </main>

        <%- include("./partials/footer-home") -%>