<%- include("./partials/top") -%>
    <%- include("./partials/nav-admin") -%>

        <div v-cloak id="app" class="d-flex flex-column min-vh-100">
            <main class="container-fluid flex-fill">
                <div class="row p-3">
                    <div class="col">

                        <h4 class="py-4">
                            <i class="bi bi-people-fill"></i>
                            Lista de Usuários
                        </h4>

                        <form action='deleteuser' method='POST'>
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead class="thead-light">
                                        <tr class="text-center">
                                            <th scope="col">Id</th>
                                            <th scope="col">Nome</th>
                                            <th scope="col">Senha</th>
                                            <th scope="col">E-mail</th>
                                            <th scope="col">Acesso</th>
                                            <th scope="col">Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% users.map((user, index)=> { %>
                                            <tr class="text-center">
                                                <td class="align-middle">
                                                    <%= user.id %>
                                                </td>
                                                <td class="align-middle">
                                                    <%= user.name %>
                                                </td>
                                                <td class="align-middle">
                                                    <%= user.password %>
                                                </td>
                                                <td class="align-middle">
                                                    <%= user.email %>
                                                </td>
                                                <td class="align-middle">
                                                    <%= user.role %>
                                                </td>
                                                <td class="align-middle">
                                                    <button type="submit" class="btn btn-danger" id="<%= user.id %>"
                                                        name="id" value="<%= user.id %>">
                                                        <i class="bi bi-trash"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </form>

                    </div>
                </div>
            </main>
        </div>

        <%- include("./partials/footer") -%>
            <%- include("./partials/bottom") -%>